/* body {
  font-family: poppins;
  min-height: 3000px;
} */

.jumbotron {
  padding-top: 7rem;
  background-color: #f0ffff;
}

.about {
  background-color: #b6d8d9;
}

.projects {
  /* max-height: 750px; */
  background-color: #f0ffff;
}

.contact {
  background-color: #b6d8d9;
}

.footer {
  background-color: #f0ffff;
}

section {
  padding-top: 5rem;
}

.display-4 {
  padding-top: 1rem;
}
